<div data-id={{id}}>
    <h3>{{name}}</h3>
    <img src={{image}}/>
    <p>{{link}}</p>
    <p>{{description}}</p>
    <button class="add-note">Add Note</button>{{#if note}}<button class="view-notes">View Notes</button>{{/if}}
</div>
